@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   XYZ, 
   SalesBoard Ltd<br /> 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@salesboard.com">support@salesboard.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@salesboard.com">Marketing@salesboard.com</a>
</address>
